/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =variables
-----------------------------------------------------------------------------*/
/* =mixins
-----------------------------------------------------------------------------*/
/* line 17, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
.lang-btn, .lang-btn:hover,
.open > .dropdown-toggle.lang-btn:focus,
.open > .dropdown-toggle.lang-btn:hover,
.lang-btn:active:focus,
.lang-btn:active:hover,
.lang-btn:focus,
.lang-btn:active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  color: #075694;
  background-color: transparent;
  border: solid 2px #075694;
}

/* =style
-----------------------------------------------------------------------------*/
/* line 26, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 31, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
body {
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
}

/* =header style
-----------------------------------------------------------------------------*/
/* line 39, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
header.main-header {
  border: solid 1px green;
  background-image: url(../imgs/tr-img.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 15em;
}

/* line 47, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
.home-logo {
  padding: 1em 0 1em 1em;
}

/* line 51, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
nav.main-nb {
  background-color: #ffffff;
  border-color: transparent;
  margin-bottom: 0;
}

/* line 57, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
.bottom-nav {
  background-color: #AFDEF7;
}

/* =language button style
-----------------------------------------------------------------------------*/
/* line 64, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
.lang-btn {
  padding: 0.5em 1em;
  margin: 0.8em 0 0.8em 0;
}

/* line 86, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
.eng-arrow {
  margin-left: 0.5em !important;
}

/* =search bar style
-----------------------------------------------------------------------------*/
/* line 94, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
.search-bar {
  border: solid 1px red;
  position: relative;
  right: 9em;
  margin-right: 0;
}

/* =nav links and dropdown style
-----------------------------------------------------------------------------*/
/* line 104, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
.custom-dp {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/* line 109, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
ul.tn-dd {
  min-width: 5.3em;
  left: 1.1em;
  margin: -10px 0 0;
  border: solid 2px #075694;
}

/* =index page style
-----------------------------------------------------------------------------*/
/* line 119, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
div.main-wrapper {
  border: solid 1px red;
}

@media (min-width: 768px) {
  /* line 125, /Users/chuckobazemacbookpro/Documents/nhc-website/sass/nhc.scss */
  .nhc-nav {
    float: right;
  }
}

/*# sourceMappingURL=../css/nhc.map */