

/* =imports
-----------------------------------------------------------------------------*/
@import 'fontfamily';
@import 'colors';

/* =variables
-----------------------------------------------------------------------------*/

$border: solid 1px;
$body-font-size: 10px;

/* =mixins
-----------------------------------------------------------------------------*/

%button-hover-style{
	color: $dark-blue;
	background-color: transparent;
	border: solid 2px $dark-blue;
}

/* =style
-----------------------------------------------------------------------------*/

*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 1.4em;
	font-family: $roboto;
}

/* =header style
-----------------------------------------------------------------------------*/

header.main-header{
	border: $border green;
	background-image: url(../imgs/tr-img.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 15em;
}

.home-logo{
	padding: 1em 0 1em 1em;
}

nav.main-nb{
	background-color:$white-color;
	border-color: transparent;
	margin-bottom: 0;
}

.bottom-nav{
	background-color: $light-blue;
}

/* =language button style
-----------------------------------------------------------------------------*/

.lang-btn{
	padding: 0.5em 1em;
	margin: 0.8em 0 0.8em 0;
	@extend %button-hover-style;

	&:hover{
	@extend %button-hover-style;
	}
}

.lang-btn:hover,
.open > .dropdown-toggle.lang-btn:focus,
.open > .dropdown-toggle.lang-btn:hover,
.lang-btn:active:focus,
.lang-btn:active:hover,
.lang-btn:focus,
.lang-btn:active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary{
	@extend %button-hover-style;
}

.eng-arrow{
	margin-left: 0.5em !important;
}


/* =search bar style
-----------------------------------------------------------------------------*/

.search-bar{
	border: $border red;
	position: relative;
	right: 9em;
	margin-right: 0;
}

/* =nav links and dropdown style
-----------------------------------------------------------------------------*/

.custom-dp{
	font-family: $roboto;
	font-size: 1em;
}

ul.tn-dd{
	min-width: 5.3em;
	left: 1.1em;
	margin: -10px 0 0;
	border: solid 2px $dark-blue;
}

/* =index page style
-----------------------------------------------------------------------------*/

div.main-wrapper{
	border: $border red;
}


@media (min-width: 768px){
	.nhc-nav{
		float: right;
	}
}





