

/* =imports
-----------------------------------------------------------------------------*/
@import 'fontfamily';
@import 'colors';

/* =variables
-----------------------------------------------------------------------------*/

$border: solid 1px;
$body-font-size: 10px;

/* =mixins
-----------------------------------------------------------------------------*/

%button-hover-style{
	color: $dark-blue;
	background-color: transparent;
	border: solid 2px $dark-blue;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/

a:link, a:visited, a:hover, a:focus, a:active

/* =style
-----------------------------------------------------------------------------*/

*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 1.4rem;
	font-family: $roboto;
}

/* =header style
-----------------------------------------------------------------------------*/

header.main-header{
	background-image: url(../imgs/tr-img.png);
	background-repeat: no-repeat;
	background-position:right 0rem;
	background-size: 15rem;
}

.home-logo{

	h1{
		padding: 13px 15px;
		margin: 0;
		font-size: 2.5rem;
		color: $dark-blue;
		font-weight: bolder;
	}
}

a.nav-links{
	color: $dark-blue !important;
	font-weight: bolder;


	&:hover, &:focus, &:active{
		background-color: $orange-color !important;
		color: $white-color !important;
		border: transparent !important;
		font-weight: bold !important;
	}
}

nav.main-nb{
	background-color:$light-blue;
	border-color: transparent;
	margin-bottom: 0;
}

.btn-sub{
	color: $dark-blue;
	font-weight: bold;

	&:hover{
		background-color: $orange-color;
		color: $white-color;
		border: transparent;
		font-weight: bold;
	}
}

.bottom-nav{
	background-color: $light-blue;
	border-bottom: solid $dark-blue 0.7rem;
}

/* =language button style
-----------------------------------------------------------------------------*/

.lang-btn{
	padding: 0.5rem 1rem;
	margin: 0.8rem 0 0.8rem 0;
	@extend %button-hover-style;

	&:hover{
	@extend %button-hover-style;
	}
}

.lang-btn:hover,
.open > .dropdown-toggle.lang-btn:focus,
.open > .dropdown-toggle.lang-btn:hover,
.lang-btn:active:focus,
.lang-btn:active:hover,
.lang-btn:focus,
.lang-btn:active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary{
	@extend %button-hover-style;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
	background-color: $orange-color;
}

.eng-arrow{
	margin-left: 0.5rem !important;
}


/* =search bar style
-----------------------------------------------------------------------------*/

.search-bar{
	position: relative;
	right: 9rem;
	margin-right: 0;
}

/* =nav links and dropdown style
-----------------------------------------------------------------------------*/

.custom-dp{
	font-family: $roboto;
	font-size: 1.5rem;
	background-color: $orange-color;
}

ul.top-level{

	li{

		a{
			color: $dark-blue !important;
		}
	}
}

ul.tn-dd{
	min-width: 5.3rem;
	left: 1.5rem;

	padding: 0;

	a{
		color: $dark-blue;
		padding: 0.5rem;
		text-align: center;

			&:hover{
			background-color: $orange-color;
			color: $white-color;
		}

	}

	&:hover{
			background-color: $orange-color;
			color: $white-color;
		}
}

/* =index page style
-----------------------------------------------------------------------------*/

div.main-wrapper{
	border: $border red;
}


@media (min-width: 768px){
	.nhc-nav{
		float: right;
	}
}





